
.frame-box{
    position: relative;
    background: #FAB131;
    width: 600px;
    height: 600px;
    z-index: -10;
}
.human{
    position: absolute;
    padding: 20px 50px 0 50px;
    top: 210px;
    left: 200px;
}
.hair{
    position: absolute;
    background: #002334;
    width: 180px;
    height: 180px;
    border-radius: 50%;  
    top: 32%;
    left: 36%; 
    z-index: -9;
 
}
.hair:before{
    position: absolute;
    content: '';
    background: #002334;
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    top: -50px;
    left: 42px;  
}
.face{
    position: absolute;
    background: #A16356;
    top: 50px;
    left: 60px;
    width: 130px;
    height: 160px;
    border-radius: 120px;
    
}

.face:after{
    content: '';
    width:  130px;
    height: 110px;
    background-color: transparent;
    position: absolute;
    margin:auto;
    top:25px;
    box-shadow: 0px 25px 0px 0px #92594D;
    border-radius: 50%;
}

.eye-right{
    position: absolute;
    top: 50px;
    left: 85px;
    width: 10px;
    height: 19px;
    background: #002334;
    border-radius: 100px;
}

.eye-right:after{
    content: '';
    position: absolute;
    top: -20px;
    left: -12px;
    width: 36px;
    height: 10px;
    background: #002334;
    border-radius: 100px;
}
.eye-right:before{
    content: '';
    position: absolute;
    top: -13px;
    left: -12px;
    width: 36px;
    height: 10px;
    background: #79483E;
    border-radius: 100px;
}
.eye-left{
    position: absolute;
    top: 50px;
    left: 34px;
    width: 10px;
    height: 19px;
    background: #002334;
    border-radius: 100px;
}

.eye-left:after{
    content: '';
    position: absolute;
    top: -20px;
    left: -13px;
    width: 36px;
    height: 10px;
    background: #002334;
    border-radius: 100px;
}
.eye-left:before{
    content: '';
    position: absolute;
    top: -13px;
    left: -13px;
    width: 36px;
    height: 10px;
    background: #79483E;
    border-radius: 100px;
}

.mouth{
    position: absolute;
    background: #fff;
    width: 80px;
    height: 40px;
    border-radius: 50% / 0 0 100% 100%;
    top: 85px;
    left: 25px;
}


.ear-right{
    position: absolute;
    top: 60px;
    left: -15px;
    width: 30px;
    height: 30px;
    background: #79483E;
    border-radius: 50%;
    z-index: -8;

}

.ear-left{
    position: absolute;
    top: 60px;
    left: 115px;
    width: 30px;
    height: 30px;
    background: #79483E;
    border-radius: 50%;
    z-index: -8;

}

.neck{
    position: absolute;
    background: #63382F;
    width: 50px;
    height: 100px;
    z-index: -5;
    top: 170px;
    left: 100px;
    border-radius: 100px;
}

.neck::before{
    position: absolute;
    background: #532C24;
    content: '';
    width: 50px;
    height: 80px;
    left: 0px;
    top: -10px;
    border-radius: 100px;
}

.body-box{
    position: absolute;
    background: #EE2761;
    width: 150px;
    height: 150px;
    z-index: -6;
    top: 240px;
    left: 50px;
    border-radius: 100px 100px 0 0;
}

.hand::before{
    position: absolute;
    content: '';
    width: 70px;
    height: 140px;
    background: #CC1E53;
    z-index: -7;
    top: 250px;
    left: 29px;
    border-radius: 190px 100px 0 0;
}

.hand::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 140px;
    background: #CC1E53;
    z-index: -7;
    top: 250px;
    left: 149px;
    border-radius: 100px 190px 0 0;
}